input[type='number'],
input[type='date'],
select {
  font-family: inherit;
  color: inherit;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;

  &:focus,
  &:hover,
  &:active {
    border-color: #333;
  }
}
