.currencies-page {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.no-data-section {
  flex-grow: 1;
}
.exchange-form-section,
.rates-list-section {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .currencies-page {
    flex-direction: row;
  }
  .exchange-form-section {
    flex-basis: 40%;
  }
  .rates-list-section {
    flex-basis: 60%;
  }
}
