.currencies-page {
  display: flex;
  gap: 1rem;
}
.no-data-section {
  flex-grow: 1;
}
.exchange-form-section {
  flex-basis: 30%;
}
.rates-list-section {
  flex-basis: 70%;
}

@media (max-width: 600px) {
  .currencies-page {
    flex-direction: column;
  }
  .exchange-form-section,
  .rates-list-section {
    flex-basis: 100%;
  }
}
