<app-card>
  <table card-body>
    <caption>
      {{
        caption
      }}
    </caption>
    <thead>
      <tr>
        <th scope="col">Waluta</th>
        <th scope="col">Symbol waluty</th>
        <th scope="col">Kurs średni</th>
      </tr>
    </thead>
    <tbody>
      @for (rate of response()?.rates; track rate.code) {
        <tr>
          <td>{{ rate.currency }}</td>
          <td>{{ rate.code }}</td>
          <td>{{ rate.mid | number: '1.4' }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-card>
