<app-card>
  <table card-body>
    <caption>
      Tabela kursów średnich NBP nr 104/A/NBP/2024 z dnia 29-05-2024
    </caption>
    <thead>
      <tr>
        <th>Waluta</th>
        <th>Symbol waluty</th>
        <th>Kurs średni</th>
      </tr>
    </thead>
    <tbody>
      @for (rate of exchangeRates(); track rate.code) {
        <tr>
          <td>{{ rate.currency }}</td>
          <td>{{ rate.code }}</td>
          <td>{{ rate.mid | number: '1.4' }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-card>
