.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus,
.skip-link:active {
  left: 2px;
  top: 2px;
  width: auto;
  height: auto;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  background: var(--foreground-color);
  padding: 10px;
  overflow: visible;

  outline: none;
  z-index: 200;
}
