<div class="converter">
  <app-card>
    <form card-body [formGroup]="form" (ngSubmit)="onConvert()">
      <app-form-control [id]="'amount'" [label]="'Kwota'">
        <input
          type="number"
          id="amount"
          name="amount"
          min="0"
          formControlName="amount"
          class="w-full" />
      </app-form-control>

      <div class="currency-form-row">
        <app-form-control [id]="'fromCurrency'" [label]="'Mam'">
          <app-currency-select
            formControlName="fromCurrency"
            [options]="exchangeRates()"
            [id]="'fromCurrency'" />
        </app-form-control>

        <app-switch-button (clicked)="onSwitchCurrencies()" />

        <app-form-control [id]="'toCurrency'" [label]="'Chcę'">
          <app-currency-select
            formControlName="toCurrency"
            [options]="exchangeRates()"
            [id]="'toCurrency'" />
        </app-form-control>
      </div>

      <div class="actions">
        <button type="submit" class="primary w-full">Przelicz</button>
      </div>
    </form>
  </app-card>

  @if (result(); as result) {
    <section>
      <app-conversion-result [result]="result" />
    </section>
  }
</div>
