form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.switch-currency-button {
  font-size: 2rem;
  line-height: 1;
}
label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
