button {
  font-family: inherit;
  border: none;
  background: transparent;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;

  &.primary {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--background-color);
    background-color: var(--foreground-color);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #333;
    }
    &:active {
      background-color: #eee;
    }
    &:focus {
      outline: 2px solid #333;
      outline-offset: 2px;
      background-color: #333;
    }
  }
}
