button {
  font-family: inherit;
  height: 40px;
  border: none;
  background: transparent;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  color: var(--foreground-color);
  cursor: pointer;

  &.primary {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--background-color);
    background-color: var(--foreground-color);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--focus-color);
    }

    &:active {
      background-color: var(--active-color);
    }
  }

  &.icon {
    &:hover {
      border-color: var(--focus-color);
    }

    &:active {
      background-color: var(--active-color);
    }
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
  }
}
